* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;
}

.refresh-btn {
  margin-top: 10px;
  background-color: #df7d05;
  color: #fff;
  transition: background-color 0.3s ease;
}

.refresh-btn:hover {
  background-color: #ff8c00;
}

.refresh-btn:focus {
  outline: none;
}

.grid {
   border: 1px solid #000;
}

.row {
  display: flex;
}

.cell {
  width: 12px;
  height: 12px;
  border: 1px solid #000;
}

.cell.alive {
  background-color: #000;
}